<ion-view view-title="{{activity.name}}">
    <<div class="bar bar-header bg1" >
    <button class="button button-clear icon ion ion-ios-arrow-left"ng-click="return()">返回</button>
    <div class="title ">{{activity.name}}</div>
</div>
    <ion-content style="margin-top: 43px;"class="bg2">
        <i class="pi">{{activity.txt}}</i>

            <img class="padding" style="width: 100%" src="{{activity.face}}">
        <div class="pade">
            <p style=" text-indent: 2em;">{{activity.txt1}}</p>
            <h4>【活动主题】</h4>
            <p> {{activity.txt2}}</p>
            <h4>【活动时间】</h4>
            <p>{{activity.txt3}}</p>
            <h4>【活动级别】</h4>
            <p>{{activity.txt4}}</p>
            <h4>【集合时间】</h4>
            <p>{{activity.txt5}}</p>
            <h4>【费用包含】</h4>
            <p>{{activity.txt6}}</p>
            <h4>【费用不含】</h4>
            <p>{{activity.txt7}}</p>
            <h4 class="st">【活动报名】</h4>
            <p>{{activity.txt8}}</p>
            <p>{{activity.txt9}}</p>
            <p>{{activity.txt10}}</p>
            <p class="notice">{{activity.txt11}}</p>
            <h4>【交费方式】</h4>
            <p>{{activity.txt12}}</p>
            <h5 class="st">【收款帐号】</h5>
            <p>{{activity.txt13}}</p>
            <h4>【行程安排】</h4>
            <p>{{activity.txt14}}</p>
        </div>
    </ion-content>
</ion-view>