<ion-view view-title="留言">
    <div class="bar bar-header bg1">
        <button class="button button-clear ion-ios-arrow-left" menu-toggle="left" ng-click="back()">返回</button>
        <div class="title" side="left">留言</div>
        <button class="button button-clear ion-plus" menu-toggle="left" style="font-size: 26px;margin-right: 8px"
                ng-click="newmessage()"></button>
    </div>


    <ion-content class="bg2" style="margin-top: 43px">


        <ion-item class="list item-avatar" ng-repeat="message in one" style="margin: 10px"
                  href="#/newmessage/1/{{ message._id }}">
            <img src="{{message.img}}">

            <div style="text-align: center">
                <h2>{{message.title}}</h2>
            </div>

            <div style="color: deepskyblue">林小欧:{{message.name}}</div>

            <div style="border: 1px;white-space: normal">{{message.content}}</div>
            <div style="margin-left: 45%;font-size: 10px;float: right">
                {{message.date|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
        </ion-item>
    </ion-content>
</ion-view>




