<ion-view view-title="蓝天白云培训机构">
        <div class="bar bar-header bg1" >
            <div class="ion-ios-arrow-left button button-clear " menu-toggle="left" ng-click="back()">返回</div>
            <div class="title ">联系我们</div>
        </div>
    <ion-content class="bg2"style="margin-top: 43px">

        <div class="card">
            <div class="item item-divider">
                温馨提示
            </div>
            <div class="item item-text-wrap">
                若有提醒框跳出，请选择确定，如果功能没能正常运行，请手动拨打下面的电话号码，如果给您带来不便，敬请原谅！
                tel:13726278181
            </div>
        </div>
    </ion-content>
</ion-view>