<ion-view view-title="蓝天白云培训机构">
    <div class="bar bar-header bg1" >
            <div class="ion-ios-arrow-left button button-clear " menu-toggle="left" ng-click="back()">返回</div>
        <div class="title ">网上预约报名</div>
    </div>
    <ion-content style="margin-top: 33px;"class="bg2">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="请输入你的姓名" ng-model="user.name">
            </label>

            <label class="item item-input">
                <input type="number"  placeholder="请预留你的联系方式" min="11" max="11" ng-model="user.phone">
                </label>

            <label class="item item-body" ng-repeat="class in myfavorites" style="height: 150px">
                <p>您要报的课程:{{class.name}}</p>
                <p>您报课程的上课时间:{{class.date}}{{class.time}}</p>
                <p>现价（原价）：{{class.price}}</p>


            <!--<select >-->
                <!--&lt;!&ndash;<option >请选择课程</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option ng-repeat="train11 in train1" ng-click="test()">{{train11.name}}</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option ng-repeat="train2 in train2">{{train2.name}}</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option ng-repeat="train3 in train3">{{train3.name}}</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option ng-repeat="train4 in train4">{{train4.name}}</option>&ndash;&gt;-->
            <!--</select>-->

        <!--</label>-->
            <!--<label class="item item-select">-->
                <!--<p>请选择你报课程的上课时间:</p>-->
                <!--<select >-->
                    <!--<option >请选择时间</option>-->
                    <!--<option  >{{lessoned.date}}</option>-->
                    <!--&lt;!&ndash;<option >{{train1.date2}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option >{{train1.date3}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option ng-repeat="train2 in train2">{{train2.name}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option ng-repeat="train3 in train3">{{train3.name}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option ng-repeat="train4 in train4">{{train4.name}}</option>&ndash;&gt;-->
                <!--</select>-->

            </label>
        </div>

        <div class="list padding">
        <button class="button button-full button-balanced" ng-click="ensure()">确定</button>
            </div>
    </ion-content>
</ion-view>