<ion-vie view-title="蓝天白云培训机构">
    <div class="bar bar-header bg1">
        <button class="button button-clear icon ion-ios-arrow-back"ng-click="back()"> 返回</button>
        <div class="title ">语言类</div>
    </div>
    <ion-content class="bg2" style="margin-top: 42px;padding: 15px">
        <div class="list padding">
            <a class="item item-text-wrap" style="margin-bottom: 10px" ng-repeat="train in train11"
               href="#/train1/{{train.id}}">
                <div align="center">{{train.name}}</div>
                <div align="center">
                    <div style="font-size: 10px">
                        <span >课次：{{train.keci}} </span>
                        <span style="margin-left: 7%">授课老师：{{train.teacher}}</span>
                        <span style="margin-left: 7%">学费:{{train.price}}</span>
                    </div>
                    <div style="font-size: 10px">
                        <span ></span>
                        <span >上课时间：{{train.date}}{{train.time}}</span>

                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-vie>