<ion-view title="动态">
    <ion-nav-bar class="bar">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="back()">
                <i class="icon ion-chevron-left" ></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="adddynamic()">
                <i class="icon ion-camera"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list" ng-repeat="dynamic in dynamics">
            <div class="row" style="margin-top: 10px">
                <div>
                    <img src="img/f1.jpg" style="width: 50px;height: 50px">

                </div>
                <div class="padding-left">
                    <div class="row">
                        <span style="color: #11c1f3">林泽濠</span>
                    </div>
                    <div class="item-divider" style="text-align: center">{{dynamic.title}}</div>
                    <div>{{dynamic.content}}</div>
                    <img src="{{imgurl+dynamic.image}}" style="width: 60%">
                    <video controls="controls" poster="img/poster.png" style="width: 100%">
                        <source ng-src="{{trustSrc(videourl+dynamic.file.name)}}" >
                    </video>
                </div>
            </div>
            <div class="padding-left">{{dynamic.date | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
    </ion-content>
</ion-view>