<ion-view view-title="动态">
    <div class="bar bar-header bg1">
        <button class="button button-clear icon ion ion-ios-arrow-left"ng-click="back()">返回</button>
        <div class="title ">班级信息</div>
    </div>
    <ion-content style="margin-top: 43px"class="bg2">
        <ion-refresher on-refresh="dorefresh()"
        pulling-text="下拉刷新">
        </ion-refresher>
        <ion-list class="bg2">

            <ion-item class="item item-avatar">
                <!--<img src="">-->
                <a href="javascript:void(0)" class="upload-btn">
                    <!--<input type="file" ng-file-select="upload" name="file" id="file" accept="image/*"/>-->
                    <input type="file" name="file" id="file" ng-model="up.video" on-change="fileSelected()" >
                    <button ng-click="uploadFile()">上传</button>
                </a>

                <div>内容</div>
                <img style="height: 120px;width: 180px; margin-left: 10px" src="{{}}">
                <!--<div class="padding">-->
                    <!--<object width="100%" height="150">-->
                        <!--&lt;!&ndash;<param name="movie" value="https://www.youtube.com/v/WzhW20hLp6M?version=3&amp;hl=uk_UA&amp;rel=0"/>&ndash;&gt;-->
                        <!--<param name="allowFullScreen" value="true"/>-->
                        <!--<param name="allowscriptaccess" value="always"/>-->
                        <!--<video src="video/shipin.mp4" controls="controls" style="width: 100%"></video>-->
                    <!--</object>-->
                <!--</div>-->

            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>